.pytest_cache/
__pycache__/
*.pyc

build/
dist/
dist_release/
uas_survey_tool_v2/

dem_cache/
dsm_cache/
logs/
*.log

*.dat
*.key
license_key_log.csv
secure_key.dat
license_data.dat
last_check.dat
opentopography_api.txt
config.json
.env

*.tif
*.zip
